p {
  margin-top: 10px;\par
  margin-bottom: 100px;\par
  margin-right: 150px;\par
  margin-left: 80px;\par
  background-color: mediumseagreen;\par
  font-family: impact;
  font-weight: bold;
}
ol {
font-weight: bold;
}
div {
  padding-top: 25px;\par
  padding-right: 80px;\par
  padding-bottom: 50px;\par
  padding-left: 70px;\par
  font-family: impact;
}
html{
  background-color: plum;
}
#intro2{ 
  color: green;
} 

H1{
text-align: center
}
.intro { 
  background-color: GreenYellow;
} 

.section2 {
   background-color: plum;
}

.section3 {
  background-color: Coral;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}